<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel=stylesheet href=style.css>
  </head>

<div class="content">
  <div class="vaiAparecerQuandoOsiteCarregar">
    <form action="/run" method="post">
      <div class="container">
        <textarea name="code"><%= code %></textarea>
        <button type="submit">Run</button>
      </div>
    </form>
    <p><b>output:</b></p>
    <hr>
    <p><%= output %></p>
  </div>
</div>
</html>
